<li class="menu__item">
    <article class="card">
        <img src="{{image}}" alt="{{name}}" class="card__image" />
        <div class="card__content">
            <h2 class="card__name" data-name="{{name}}"></h2>
            <p class="card__price" data-price="{{price}}">
                <i class="material-icons"> monetization_on </i>
            </p>
            <p class="card__descr" data-descr="{{description}}"></p>
            <ul class="tag-list" data-ingr="{{ingredients}}">
                <li class="tag-list__item"></li>
            </ul>
        </div>
        <button class="card__button button">
            <i class="material-icons button__icon"> shopping_cart </i>
            В корзину
        </button>
    </article>
</li>